body{
    width: 940px;
    margin: auto;
font-family: Arial, Helvetica, sans-serif

}
h1{
    color:#3d3d3d ;
    background-color: #e1edf2;
    padding: 10px; 
}
h2{
    border: 1px solid black;
}
figure{
    display: block;
    background-color: whitesmoke;
    padding: 15px;
    margin: 30px;
}
figcaption{
    margin: 10px;
}
p{
    text-indent: 10px;
}